.bash_history
.fish_history
/.agents
/.codex
/.devcontainer
/.env
/.venv
/.vscode
/eprover-E-2.6
/eprover.tar.gz
*.sqlite3*
**/*/__pycache__
**/*/.DS_Store
.DS_Store
.lia.cache
logs
logs.*
logs.old
logs.old.*
out*
*.log
/.sentinels
results_and_logs/**/*
old-evals/
data/evaluation/**/*
